/* html {
  width: 960px;
} */
img {
  height: 200px;
  width: 300px;
}

div {
  width: 300px;
  margin: auto;
  padding: 20px;
  
}

img {
  border: solid white;
  border-radius: 50px;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: left;
}